{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  {% if message %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary mt-3">Submit</button><br>
  </form>
  <a href="{% url 'bankapp:home' %}" class="btn btn-secondary mt-3">Return to Home</a>
  <a href="{% url 'bankapp:logout' %}" class="btn btn-danger mt-3">Logout</a>
</div>
{% endblock %}
